.fl {
  float: left;
}
.fr {
  float: right;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*基本资料*/
.basic-data a {
  font-size: 24px;
}
.basic-data section {
  margin-top: 3%;
}
.basic-data section .small-portrait {
  animation: portrait 2s;
}
@keyframes portrait {
  0% {
    transform: translate(-3000px, 0);
  }
  50% {
    transform: translate(300px, 0);
  }
  100% {
    transform: scale(1);
  }
}
.basic-data section .personal {
  margin-top: 5%;
  animation: personal 2s;
}
@keyframes personal {
  0% {
    transform: translate(3000px, 0);
  }
  50% {
    transform: translate(-300px, 0);
  }
  100% {
    transform: scale(1);
  }
}
.basic-data section .down {
  bottom: 5%;
}
#page2 .text-ul {
  width: 72%;
  font-size: 24px;
}
#page3 .skill-text {
  font-size: 22px;
}
#page4 .project-list ul li {
  height: 200px;
}
#page6 ul.con_style li p {
  font-size: 22px;
}
