.fl {
  float: left;
}
.fr {
  float: right;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*头部*/
.basic-data {
  background: url("../img/bg-2.jpg") no-repeat;
  background-size: 100%;
  overflow: hidden;
}
.basic-data header {
  padding: 30px 45px;
}
.basic-data header nav {
  float: right;
  display: inline-block;
}
.basic-data header a {
  color: #fff;
  margin-left: 14px;
  text-decoration: none;
  float: left;
  transition: 2s;
  padding: 6px 10px;
}
.basic-data header a:hover {
  color: #f60;
  border-bottom: 2px solid #ff6600;
}
.basic-data header span {
  float: left;
  color: #fff;
  font-size: 40px;
  margin-top: -10px;
}
.basic-data header span:hover {
  text-shadow: 1px 0  6px  #f60;
  letter-spacing: 6px;
}
.basic-data section {
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.basic-data section .small-portrait {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 16px #fff, 0 0 6px #fff;
  position: relative;
  margin: 0 auto;
  font-size: 24px;
}
.basic-data section .small-portrait img {
  width: 100%;
}
.basic-data section figcaption {
  margin-top: 30px;
}
.basic-data section .down {
  width: 50px;
  height: 50px;
  background: url("../img/icon.png");
  margin: 0 auto;
  transition: 1s all ease;
  -webkit-transition: 1s all ease;
  overflow: hidden;
}
@keyframes nextPage {
  from {
    top: 0;
  }
  to {
    top: 45px;
  }
}
.basic-data section .down span {
  display: block;
  position: relative;
  top: 0;
  width: 18px;
  height: 20px;
  background-image: url("../img/icon.png");
  background-repeat: no-repeat;
  background-position: -108px -13px;
  margin: 0 auto;
  animation: nextPage 2s infinite;
}
.basic-data section .personal {
  line-height: 1.8;
}
/*基本资料*/
body {
  background: #f4f4f4;
}
.page {
  box-sizing: border-box;
  overflow: hidden;
  display: none;
  transition: 1s;
}
.page h5 {
  text-align: center;
  font-size: 30px;
}
#page2 {
  font-size: 26px;
  padding: 60px;
}
#page2 .small-portrait {
  width: 220px;
  height: 220px;
  border-radius: 50% ;
  overflow: hidden;
  float: left;
}
#page2 .small-portrait img {
  width: 100%;
}
#page2 .text-ul {
  width: 70%;
  float: right;
  line-height: 2;
}
#page2 .text-ul ul {
  float: left;
  margin-left: 10%;
}
#page2 .text-ul ul:nth-child(1) {
  margin-left: 0;
}
#page2 .text-outer,
#page2 .work-experience {
  margin: 100px auto;
  width: 80%;
}
#page2 .work-experience p {
  margin-left: 50px;
  font-size: 24px;
}
#page3 {
  padding: 60px;
  font-size: 22px;
}
#page3 .skill-canvas {
  margin-top: 30px;
  width: 50%;
  float: left;
}
#page3 .skill-canvas .canvas_con {
  width: 160px;
  height: 160px;
  float: left;
  margin: 10px 15px;
  position: relative;
}
#page3 .skill-canvas .canvas_con .text_con {
  width: 120px;
  height: 80px;
  position: absolute;
  top: 25px;
  left: 0;
  text-align: center;
  padding: 20px;
}
#page3 .skill-text {
  margin-top: 30px;
  width: 50%;
  float: right;
}
aside {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
aside ul li {
  position: relative;
  height: 30px;
}
aside ul li a {
  display: block;
  width: 21px;
  height: 21px;
  background-image: url("../img/dot.png");
  background-position: 5px 5px;
  background-repeat: no-repeat;
}
aside ul li a:hover {
  background-position: 0 bottom;
}
aside ul li span {
  position: absolute;
  top: 0;
  width: 0px;
  display: none;
  left: -80px;
  color: #80d6f2;
  transition: 1s;
}
#page4 {
  padding: 60px;
}
#page4 .project-list {
  margin-top: 30px;
}
#page4 .project-list ul li {
  width: 320px;
  height: 250px;
  background: red;
  float: left;
  margin: 12px;
}
#page5 {
  padding: 60px 0 ;
}
#page5 .img-outer {
  width: 100%;
  height: 300px;
  margin-top: 30px;
  background: url("../img/number1.gif") repeat;
  position: relative;
  overflow: hidden;
}
#page5 .img-outer .img-bg {
  width: 100%;
  height: 100%;
  background: rgba(115, 224, 179, 0.72);
}
#page6 {
  padding: 60px;
}
#page6 .contact_detail {
  padding: 0 60px;
}
#page6 ul.con_style {
  overflow: hidden;
  padding: 0 0 20px 0;
}
#page6 ul.con_style li {
  width: 33.33%;
  float: left;
  margin: 20px 0;
  overflow: hidden;
}
#page6 ul.con_style li span {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto 20px;
  background: url("../img/icon.png");
}
#page6 ul.con_style li p {
  text-align: center;
  font-size: 26px;
}
#page6 ul.con_style li p a {
  color: #333;
}
#page6 ul.con_style li:nth-child(1) span {
  background-position: 0 -70px;
}
#page6 ul.con_style li:nth-child(2) span {
  background-position: -50px -70px;
}
#page6 ul.con_style li:nth-child(3) span {
  background-position: -100px -70px;
}
#page6 .contact_info {
  width: 100%;
}
#page6 .contact_info form {
  width: 100%;
  overflow: hidden;
  padding: 5px 0;
}
#page6 .contact_info form label {
  width: 33.33%;
  padding: 0 10px 0 0;
  height: 70px;
  float: left;
  box-sizing: border-box;
}
#page6 .contact_info form label p {
  color: red;
  line-height: 2rem;
  padding: 0 12px;
}
#page6 .contact_info form label:nth-child(3) {
  padding: 0;
}
#page6 .contact_info form label:nth-child(4) {
  width: 100%;
  height: 215px;
  padding: 0;
}
#page6 .contact_info form input {
  outline: none;
  padding: 12px;
  font-size: 1.4rem;
  border: 1px solid #e5e5e5;
  background: none;
  box-sizing: border-box;
}
#page6 .contact_info form input[type="text"] {
  width: 100%;
  float: left;
  background: #ffffff;
  color: #333;
}
#page6 .contact_info form textarea {
  width: 100%;
  height: 180px;
  background: #ffffff;
  resize: none;
  color: #333;
  outline: none;
  padding: 12px;
  font-size: 1.4rem;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
}
#page6 .contact_info form button {
  color: #fff;
  padding: 0.6em 1.4em;
  font-size: 1.4rem;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #55C1E5;
  background: #55C1E5;
}
