.fl{
  float: left;
}
.fr{
  float: right;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
//混合
.border(@color:#e7e7e7){
  border: 1px solid @color;
}
.style(@width;@height){
  width: @width;
  height:@height;
}
.pos(r,@t,@l){
  position: relative;
  top: @t;
  left: @l;
}
.pos(a,@t,@l){
  position: absolute;
  top: @t;
  left: @l;
}
.pos(f,@t,@l){
  position: fixed;
  top: @t;
  left: @l;
}
/*头部*/
.basic-data{
  background:url("../img/bg-3.jpg") no-repeat;
  background-size:100% 100%;
  overflow: hidden;
  .phone-header{
    display: none;
  }
  header{
    padding:30px 45px;
    nav{
      float: right;
      display: inline-block;
    }
    a{
      color: #fff;
      margin-left: 14px;
      text-decoration: none;
      float: left;
      transition: 2s;
      padding: 6px 10px;
      &:hover{
        color: #f60;
        border-bottom: 2px solid #ff6600;
      }
    }
    span{
      float: left;
      color: #fff;
      font-size: 40px;
      margin-top: -10px;
      &:hover{
        text-shadow: 1px 0  6px  #f60;
      }
    }
  }

  section{
    color: #fff;
    text-align: center;
    font-size:20px;
    .small-portrait{
      .style(140px,140px);
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 0 16px #fff, 0 0 6px #fff;
      position: relative;
      margin: 0 auto;
      font-size: 24px;
      img{
        width: 100%;
      }
    }
    figcaption{
      margin-top: 30px;
      p:nth-child(2){
        font-size: 14px;
      }
    }
    .down{
      .style(50px,50px);
      background: url("../img/icon.png");
      margin:0 auto;
      transition: 1s all ease;
      -webkit-transition: 1s all ease;
      overflow: hidden;
      position: absolute;
      left:50%;
      margin-left: -25px;
      @keyframes nextPage
      {
        from {top: 0;}
        to {top: 45px;}
      }
      span{
        display: block;
        position: relative;
        top: 0;
        .style(18px,20px);
        background-image: url("../img/icon.png");
        background-repeat: no-repeat;
        background-position: -108px -13px;
        margin: 0 auto;
        animation: nextPage 2s infinite;
      }
    }
    .personal{
      line-height: 1.6;
    }
  }
}

/*基本资料*/
body{
  background: #f4f4f4;
}

.page{
  box-sizing: border-box;
  overflow: hidden;
  display:none;
  transition: 1s;
  h5{
    text-align: center;
    font-size: 30px;
  }
}
#page2{
  font-size: 26px;
  padding: 60px;
  background: url("../img/zlbg.png") no-repeat 100% 100%;
  .small-portrait{
    .style(200px,200px);
    border-radius:50% ;
    overflow: hidden;
    float: left;
    img{
      width: 100%;
    }
  }

  .text-ul {
    width: 70%;
    float: right;
    line-height: 2;
    ul {
      float: left;
      margin-left: 10%;
    }
    ul:nth-child(1){
      margin-left: 0;
    }
  }
  .text-outer{
    width:80%;
    margin: 30px auto 0;
  }
  .work-experience{
    margin: 50px auto;
    width: 80%;
  }
  .work-experience{
    p{
      margin-left: 50px;
      font-size: 24px;
      background-image: url("../img/job.png");
      background-repeat:no-repeat;
      background-position:0 center;
      padding-left: 32px;
      line-height: 1.6;
    }
  }
}

#page3{
  padding: 60px;
  font-size: 22px;
  .skill-canvas{
    margin-top: 30px;
    width: 50%;
    float: left;
    .canvas_con{
      .style(160px,160px);
      float: left;
      margin: 10px 15px;
      position: relative;
      .text_con {
        .style(120px,80px);
        position: absolute;
        top: 25px;
        left: 0;
        text-align: center;
        padding: 20px;
      }
    }
  }
  .skill-text{
    margin-top: 30px;
    width: 50%;
    float: right;
  }
}
aside{
  position: fixed;
  bottom: 20px;
  right: 20px;
  ul li {
    position: relative;
    height: 30px;
    a{
      display: block;
      .style(21px,21px);
      background-image: url("../img/dot.png");
      background-position: 5px 5px;
      background-repeat: no-repeat;
      &:hover{
        background-position:0 bottom;
      }
    }
    span{
      position: absolute;
      top: 0;
      width: 0px;
      display: none;
      left:-80px;
      color: #80d6f2;
      transition: 1s;
      font-size: 16px;
    }
  }
}

#page4{
  padding: 60px;
  .project-list{
    margin-top: 30px;
    ul li{
      width:23%;
      height:250px;
      background: red;
      float: left;
      margin: 1%;
      overflow: hidden;
      .pos-bg{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        position: relative;
        top: 100%;
        left: 0;
      }
    }
  }
}

@-webkit-keyframes img-outer {
  from{
    -webkit-transform: scale(1,0);
  }
  to{
    -webkit-transform: scale(1,1);
  }
}
@keyframes img-outer {
  from{
    transform: scale(1,0.5);
  }
  to{
    transform: scale(1,1);
  }
}
#page5{
  padding: 60px 0 ;
  .img-outer{
    .style(100%,300px);
    margin-top: 30px;
    background: url("../img/number1.gif") repeat;
    position: relative;
    overflow: hidden;
    transition: all 1s ease;
    -webkit-animation: img-outer 1.5s ease;
    animation: img-outer 1.5s ease;
    .img-bg{
      .style(100%,100%);
      background: rgba(115, 224, 179, 0.72);
      text-align: center;
      position: relative;
      ul{
        width: 100%;
        height: 80%;
        li{
          width: 100%;
          height: 100%;
          display: none;
          p{
            font-size: 26px;
            color: #fff;
            text-align: center;
            padding-top: 80px;
          }
        }
        .on{
          display: block;
        }
      }
      ol li{
        .style(10px,10px);
        background: #fff;
        display: inline-block;
        border-radius: 50%;
        &.on{
          background: #80d6f2;
        }
      }
    }
  }
}

#page6{
  padding: 60px;
  .contact_detail{
    padding: 0 60px;
  }

  ul.con_style{
    overflow: hidden;
    padding:0 0 20px 0;
    li{
      width: 33.33%;
      float:left;
      margin: 20px 0;
      overflow: hidden;
      span{
        width: 50px;
        height: 50px;
        display: block;
        margin: 0 auto 20px;
        background: url("../img/icon.png");
      }
      p{
        text-align: center;
        font-size: 26px;
        a{
          color:#333;
        }
      }
    }
    li:nth-child(1) span{
      background-position:0 -70px;
    }
    li:nth-child(2) span{
      background-position:-50px -70px;
    }
    li:nth-child(3) span{
      background-position:-100px -70px;
    }
  }
  .contact_info{
    width: 90%;
    margin: 0 auto;
    form{
      width: 100%;
      overflow: hidden;
      padding: 5px 0;
      .contact_info_l{
        width: 40%;
        float: left;
        label{
          height: 84px;
          position: relative;
          span{
            position: absolute;
            top: 0;
            left: 12px;
            line-height: 2.4;
            font-size: 20px;
            color: #666;
            i{
              font-size: 24px;
              line-height: 2.5;
              float: right;
              margin-top: -4px;
            }
          }
          input{
            padding-left: 110px;
          }
        }
      }
      .contact_info_r{
        width: 60%;
        float: right;
        label{
          p{
            text-align:right;
          }
        }
      }
      label{
        width: 100%;
        padding: 0 10px 0 0;
        float: left;
        box-sizing: border-box;
        margin-bottom: 10px;
        p{
          color: red;
          line-height: 2;
          padding: 0 12px;
        }
      }

      label:nth-child(4){
        width: 100%;
        height: 215px;
        padding: 0;
      }
      input{
        outline: none;
        padding: 12px;
        font-size: 20px;
        border: 1px solid #e5e5e5;
        background: none;
        box-sizing: border-box;
        color: #666;
      }
      input[type="text"]{
        width: 100%;
        float: left;
        background: #ffffff;
        color: #666;
      }
      textarea {
        width: 100%;
        height: 240px;
        background: #ffffff;
        resize:none;
        color: #666;
        outline: none;
        padding: 12px;
        font-size: 20px;
        border: 1px solid #e5e5e5;
        box-sizing: border-box;
      }
      button{
        color:#fff;
        padding: 10px 26px;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid #55C1E5;
        background: #55C1E5;
        float: right;
        margin-right: 16px;
      }
    }
  }
}